body{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin-top: 0px;
    height: 10%;
    font-size: 40px;
    color: #228b22;
}

.subheading
{
    width: 100%;
    margin-top: -22px;
    font-size:20px;
    color: blueviolet;
}

#inp1
{
    font-size: 30px;
}

#inp
{
    width: 400px;
    height: 25px;
}

canvas
{
    border: 2px solid blueviolet;
    border-radius:100px;
    margin-top: 320px;
    box-shadow:7px 7px 7px blueviolet;
}

#start,#status_object,#status_found
{
    font-size: 20px;
    border-radius: 30px;
    height: 40px;
    margin: 10px;

}